<%= form_for(:borrower, url: registration_path(:borrower)) do |form| %>
  <%#= devise_error_messages! %>

  <br>
  <div class="field">
    <% if @minimum_password_length %>
    <em class="form-control form-styling">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>

  <div class="field">
    <%= form.text_field :first_name, id: :borrower_first_name, placeholder:"first name", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= form.text_field :last_name, id: :borrower_last_name, placeholder:"last name", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= form.email_field :email, autofocus: true, autocomplete: "email", 
    placeholder:"email", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= form.number_field :phone, id: :borrower_phone, placeholder:"phone", class:"form-control", id:"form-styling"%>
  </div>
  <br>
  <div class="field">
    <%= form.text_field :street, id: :borrower_street, placeholder:"street", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= form.select :state, options_for_select(us_states),
    id: :borrower_state, placeholder:"select state", class:"form-control", id:"form-styling state-dropdown"%>
  </div>
  <br>
  <div class="field">
    <%= form.number_field :zip, id: :borrower_zip, placeholder:"zip", class:"form-control", id:"form-styling" %>
  </div>
    <%= form.password_field :password, autocomplete: "off", placeholder:"password", class:"form-control", id:"form-styling"%>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, autocomplete: "off", placeholder:"password confirmation", class:"form-control", id:"form-styling"%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Sign up", class:"btn btn-signin", style:"font-size: 3rem; width: 50vw" %>
  </div>
<% end %>
