<%= form_for(:lender, url: registration_path(:lender)) do |f| %>
  <%#= devise_error_messages! %>

  <br>
  <br>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email", style:"font-size: 3rem; margin-bottom: 2rem;"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />


      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, id: :lender_first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, id: :lender_last_name %>
      </div>

      <div class="field">
        <%= f.label :phone %>
        <%= f.number_field :phone, id: :lender_phone %>
      </div>

      <div class="field">
        <%= f.label :street %>
        <%= f.text_field :street, id: :lender_street %>
      </div>

      <div class="field">
        <%= f.label :state %>
        <%= f.text_field :state, id: :lender_state %>
      </div>

      <div class="field">
        <%= f.label :zip %>
        <%= f.number_field :zip, id: :lender_zip %>
      </div>



    <%= f.password_field :password, autocomplete: "off", placeholder:"password", style:"font-size: 3rem;"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"passowrd confirmation", style:"font-size: 3rem;"%>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-signin", style:"font-size: 3rem; width: 50vw;" %>
  </div>
<% end %>
