<%= form_for(:lender, url: registration_path(:lender), :html => { :id => 'lender_form'} ) do |f| %>
  <%#= devise_error_messages! %>
  
  <div class="field">
    <%= f.text_field :first_name, id: :lender_first_name, placeholder:"first name", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :last_name, id: :lender_last_name, placeholder:"last name", class:"form-control", id:"form-styling"%>
  </div>
  <br>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email",
     class:"form-control", id:"form-styling"%>
  </div>
  <br>
  <div class="field">
    <%= f.number_field :phone, id: :lender_phone, placeholder:"phone", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :street, id: :lender_street, placeholder:"street", class:"form-control", id:"form-styling"%>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :city, id: :lender_city, placeholder:"city", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= f.select :state, options_for_select(us_states), 
     id: :lender_state, placeholder:"select state", class:"form-control", id:"form-styling state-dropdown" %>
  </div>
  <br>
  <div class="field">
    <%= f.number_field :zip, id: :lender_zip, placeholder:"zip", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div>
    <%= f.password_field :password, autocomplete: "off",
     placeholder:"password", class:"form-control", id:"form-styling"%>
  </div>
  <br>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", 
    placeholder:"passowrd confirmation", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-signin", style:"font-size: 3rem; width: 50vw;" %>
  </div>
<% end %>
