<%= form_for(:lender, url: session_path(:lender)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", 
    placeholder:"email", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder:"password", class:"form-control", id:"form-styling" %>
  </div>
  <br>
  <% if devise_mapping_lender.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, style:"font-size: 3rem;"%>
      <%= f.label :remember_me, style:"font-size: 3rem;"%>
    </div>
  <% end -%>
  <br>
  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-signin", style:"font-size: 3rem; width: 50vw;"%>
  </div>
<% end %>